body {
  font-family: 'Montserrat', sans-serif;
}

/* Основний контейнер */
.menu1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8780f3;
  padding: 0 40px;
  height: 70px;
}


.logo1 {
  font-size: 24px;
  color: #00D5C3;
  font-weight: bold;
  margin-bottom: 10px;
}



.main-nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.main-nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 15px;
}

.main-nav a:hover {
  color: #00D5C3;
}





/* для А
.header1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  background-color: #161c35;
  color: white;
  padding-top: 30px;
}

.logo1 {
  font-size: 24px;
  color: #00D5C3;
  font-weight: bold;
  margin-bottom: 10px;
}


.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s, transform 0.3s;
}

.sidebar a:hover {
  color: #00D5C3;
  transform: translateX(5px);
}
 */
