header .main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f37a7a;
}

/* Хедер */
header {
  height: 65px;
  background: #161c35;
}

.main-wrapper {
  margin: 0 auto;
  width: 1170px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}


.logo {
  height: 60px;
}

/* Меню */
.main-menu > ul {
  list-style: none;
}

.main-menu > ul > li {
  display: inline-block;
}

.main-menu > ul > li > a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px;
  margin-right: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  position: relative;
}

.main-menu > ul > li:last-child > a {
  margin-right: 0;
}

/* Ефект підкреслення */
.main-menu > ul > li > a::after {
  content: "";
  width: 10%;
  height: 3px;
  background: #00D5C3;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 25px;
  transition-duration: 0.3s;
  opacity: 0;
}

.main-menu > ul > li > a:hover::after {
  width: 100%;
  opacity: 1;
}